

#mon_titre_1
{
	width: 80px;
	background-color: red;
	text-align: center;
	float:right;
	border: 1px solid black;

}
#mon_titre_2
{
	width: 80px;
	background-color: #9932CC;
	text-align: center;
	float:right;
	border: 1px solid black;

}#mon_titre_3
{
	width: 80px;
	background-color: #D2691E;
	text-align: center;
	float:right;
	border: 1px solid black;

}

#mon_texte_1
{
	margin:5px; 

}
h1
{
	text-align: center;
	margin-bottom: 76px;
}
 #principal
  {
	 display: inline-flex;
  align-items: center;
  justify-content: center;
  }
   #première
  {   
	background-color: gray;
	border: 2px solid black;
	margin: 10px;
	box-sizing: border-box;
  }
  #deuxième
  {
	background-color: gray;
	border: 2px solid black;
	margin: 10px;
	box-sizing: border-box;

  }
  #troisième 
  {
	background-color: gray;
	border: 2px solid black;
	margin: 10px;
	box-sizing: border-box;

  }
@media all and (min-width:768px) and (max-width: 991px)
{ 
 #principal
  {
	 display: inline;
  align-items: center; 
  justify-content: center;
  }
   #première
  {   
	background-color: gray;
	border: 2px solid black;
	margin: 5px;
	box-sizing: border-box;
	width: 48.5%;
	float: left;
  }
  #deuxième
  {
	background-color: gray;
	border: 2px solid black;
	margin: 5px;
    box-sizing: border-box;
    width: 48.5%;
    float: right;
  }
  #troisième 
  {
	background-color: gray;
	border: 2px solid black;
	margin: 5px;
	box-sizing: border-box;
	width: 48.5%;
	float: left;

  }

}
@media all and (max-width: 767px)
{
	#principal
	{
		display: grid;
	}
}